@import "../styles/var.scss";
@import "../styles/mixins.scss";

@include b(tooltip) {
    @include e(popper) {
        position: absolute;
        border-radius: 4px;
        padding: $tooltip-padding;
        z-index: $index-popper;
        font-size: $tooltip-font-size;
        line-height: 1.2;
        min-width: 10px;
        word-wrap: break-word;
        @include when(dark) {
            background: $tooltip-fill;
            color: $tooltip-color;
        }

        @include when(light){
            background: $tooltip-color;
            border: 1px solid $tooltip-fill;
        }
    }
    
}