@import "../styles/mixins.scss";
@import "../styles/var.scss";
@import "../styles/config.scss";
@import "../styles/icon.scss";

@mixin menu-item {
  height: 56px;
  line-height: 56px;
  font-size: $menu-item-font-size;
  color: $menu-item-font-color;
  padding: 0 20px;
  list-style: none;
  cursor: pointer;
  position: relative;
  transition: border-color .3s, background-color .3s, color .3s;
  box-sizing: border-box;
  white-space: nowrap;

  * {
    vertical-align: middle;
  }

  i {
    color: $text-color-dark;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $menu-item-hover-fill;
  }

  @include when(disabled) {
    opacity: 0.25;
    cursor: not-allowed;
    background: none !important;
  }
}

@include b(menu) {
  border-right: solid 1px #e6e6e6;
  list-style: none;
  position: relative;
  margin: 0;
  padding-left: 0;
  background-color: $menu-background-color;
  @include clear;

  &.t-menu--horizontal {
    border-bottom: solid 1px #e6e6e6;
  }

  @include m(horizontal) {
    border-right: none;

    &>.t-menu-item {
      float: left;
      height: 60px;
      line-height: 60px;
      margin: 0;
      border-bottom: 2px solid transparent;
      color: $text-color-dark;
    }

    &>.t-submenu {
      float: left;

      &:focus,
      &:hover {
        outline: none;

        .t-submenu__title {
          color: $primary-color;
        }
      }

      & .is-active {
        .t-submenu__title {
          border-bottom: 2px solid $primary-color;
          color: $text-color-dark;
        }
      }

      & .t-submenu__title {
        height: 60px;
        line-height: 60px;
        border-bottom: 2px solid transparent;
        color: $text-color;

        &:hover {
          background-color: #fff;
        }
      }

      & .t-menu {

        & .t-menu-item,
        & .t-submenu__title {
          background-color: $white-color;
          float: none;
          height: 36px;
          line-height: 36px;
          padding: 0 10px;
          color: $text-color;
        }

        & .t-menu-item.is-active,
        & .t-submenu.is-active>.t-submenu__title {
          color: $text-color-dark;
        }
      }

      & .t-submenu__arrow {
        position: static;
        vertical-align: middle;
        margin-left: 8px;
        margin-top: -3px;
      }
    }


    &>.t-menu-item.is-active {
      border-bottom: 2px solid $primary-color;
      color: $text-color;
    }

  }

  @include m(popup) {
    z-index: 100;
    min-width: 200px;
    border: none;
    padding: 5px 0;
    border-radius: $border-radius-small;
    box-shadow: $box-shadow-light;

    &-bottom-start {
      margin-top: 5px;
    }

    &-right-start {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}

@include b(submenu) {
  list-style: none;
  margin: 0;
  padding-left: 0;

  & .t-menu {
    border: none;
  }

  & .t-menu-item {
    height: 50px;
    line-height: 50px;
    padding: 0 45px;
    min-width: 200px;
  }

  @include e(title) {
    @include menu-item;

    &:hover {
      background-color: $menu-item-hover-fill;
    }
  }

  @include e(arrow) {
    position: absolute;
    right: 20px;
    font-size: 12px;
  }

  @include when(active) {
    .t-submenu__title {
      border-bottom-color: $primary-color;
    }
  }

  @include when(open) {
    >.t-submenu__title .t-submenu__arrow {
      transform: rotateZ(180deg);
    }
  }

  @include when(disabled) {

    .t-submenu__title,
    .t-menu-item {
      opacity: 0.25;
      cursor: not-allowed;
      background: none !important;
    }
  }

  [class*="icon-"] {
    vertical-align: baseline;
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
  }
}

@include b(menu-item) {
  @include menu-item;

  & [class*="icon-"] {
    margin-right: 5px;
    width: 24px;
    text-align: center;
    font-size: 18px;
    vertical-align: middle;
  }

  @include when(active) {
    color: $primary-color;

    i {
      color: inherit;
    }
  }
}

@include b(menu-item-group) {
  >ul {
    padding: 0px;
  }

  @include e(title) {
    padding: 7px 0 7px 20px;
    line-height: normal;
    font-size: 12px;
    color: $text-color;
  }
}

.t-submenu__title .t-submenu__arrow {
  transition: .2s;
}